.card-img-overlay {
    padding-top: 200px;
    padding-bottom:200px;
    width:200px;
    height:200px
}

.card-body {
    margin-top: 2px;

}

.card-img-top{
    width:auto ;
    height:300px ;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h1{
    padding-top:30px;
}


