ul {
    padding: 5px;
    background-color: #b3cee2 ;
    font-family: "Times New Roman" ;
    list-style-type: none;
}

li {
    display:block inline-block
}

.card-title {
    text-align: left;
    margin-left: 80px;
    padding: 10px;
    font-size: 30px;
}

img {
    float:left ;
    width: 60px;
    height:auto;
    padding-right:10px;
  }

@media(max-width: 400px){
	.card-title{
		font-size: 10px;
        margin-left: 10px;
	}
    img {
        float:left ;
        width: 30px;
        height:auto;
        padding-right:5px;
      }

}

  