<nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
  <div class="container-fluid">
    <span class="navbar-text">Portafolio</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a routerLink="/inicio">
          <button type="button" class="btn btn-outline-success">Inicio</button> 
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/informacion">
          <button type="button" class="btn btn-outline-success">Información</button>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/contacto">
          <button type="button" class="btn btn-outline-success">Contacto</button>
          </a>
        </li>  
      </ul>
    </div>
  </div>
</nav>
