h1, h2, h3{
    font-family: cursive;
    margin-left:20px;
    margin-top:20px;
    
}
h3{
    color:#4A235A
}

h2{
    color:#1F618D
}

h1{
    color: #117A65
}

.fa:hover {
    opacity: 0.6;
}

.card {
    margin: 15px;
    border-radius: 20px; 
    background-color: #D6EAF8 ;
}

i {
    float:right;
    margin: 1% 1% 1% 1%;
    font-size: 100%; 
}